.right-side{
    width: 20%;
    display: flex;
    justify-content: space-evenly;
}
.links-login{
    text-decoration: none;
    display: block;
    padding: 10px;
    border: 1px solid white;
    cursor: pointer;
    color: white;
    border-radius: 9999px;
    text-align: center;
    height: 20px;
}
.links-login:hover{
    transform: scale(1.1);
    text-shadow: 5px 1px 25px white;
}
.container{
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 10px;
    height: 50px;
}